/*=======================
    FONTS
=======================*/

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*=======================
    MOBILE LAYOUT
=======================*/

html {

    background-color: #E5E5E5;
    /*background-color: black;*/

}

.header {
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 80px;
    padding: 0 10% 0 10%;

    box-shadow: 0 6px 5px lightgray;

    background-color: #FFF;
}

.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 80px;
    padding: 0 10% 0 10%;

    box-shadow: 0 -6px 5px lightgray;

    background-color: #FFF;
}

.type_here {

    width: 100%;
    height: 100%;

    max-height: 50%;
    max-width: 80%;

}

.text_message {
    display: flex;
    
    border: none;

    height: 100%;
    width: 100%;

    color: black;
    object-fit: cover;
}

.text_message textarea {
    resize: none;
}

.text_message:focus{
    outline: none;
}

.send_button:hover {
    background-color: aqua;
    border-radius: 5px;
}

input::placeholder {
    color: black;
    font-style: italic;
}

.chatbox {

    padding: 90px 0 90px 0;

}

.messages_box * {

    /*display: flex;
    align-items: center;*/

    width: 100%;

    padding: 5px 0 5px 0;

    margin: 5px 0 5px 0;

    min-height: 40px;

    color: black;

}

.chatbox .public-chat {

    background-color: #FFF;

}

.chatbox .private-chat {

    background-color: #FFDEDE;

}

.chatbox .time {

    color: gray;

}

.chatbox .status {
    
    background-color: #DCDCDC;

}

.chatbox strong {
    font-weight: bold;
}

.chat {

    padding: 10px;

}